<div class="container">
  <h3>Homepage of my app</h3>
</div>
<div class="container" id="music">
  <h4>Spotify API </h4>
  <p>Type in the name of the song, get back a preview of that song</p>
  <div id="audio-container">
    <% if @song %>
    <p>You have chosen to listen to <%= @song.name %> by <%= @song.artist %> </p>
      <audio controls>
        <source src=<%= @song.preview_url %> >
      </audio>
    <% end %>
  </div>
  <%= form_for(:song, url: "/songs")  do |f| %>
    <div class="error">
      <% if @errors %>
        <% @errors.each do |error| %>
          <%= error  %>
        <% end %>
      <% end %>
    </div>
    <%= label_tag "What song do you want to hear? " %><br>
    <%= f.text_field :name, minlength: 3 %>
    <br><br>
    <%= f.submit 'Play song' %>
  <% end %>
</div>
<div class="container" id="instagram">
  <a href="/instagram">Check out your instagram:</a>

  <div id="my-pictures">
    <% if 1 == 2 %>
      <h1>Instagram for <%= @media.first.user.username %> </h1>
      <% @media.each do |media| %>
        <div class="ind-picture">
          <%= image_tag media.images.low_resolution.url %>
        </div>
      <% end %>
  <% end %>
  </div>
</div>



